.button-red {
    background-color: darkred;
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    width: 100px;
}

.button-red:hover {
    background-color: red;
    transition: 0.25s;
}

.button-blue {
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    width: 100px;
}

.button-blue:hover {
    background-color: blue;
    transition: 0.25s;
}

.button-green {
    background-color: darkgreen;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    margin-left: 6px;
    width: 100px;
}

.button-green:hover {
    background-color: green;
    transition: 0.25s;
}

h3 {
    margin: 35px auto;

}